body {
  background-color: rgb(24, 25, 49);
  font-family: Arial;
  color: rgb(255, 255, 255);
  display: inline-flex;
}

p {
  margin: 0px;
}


.terminal-window, .infoDisplay-window, .computers-grid {
  border-style: solid;
  border-color: rgb(254, 254, 254);
  border-radius: 5px;
  background-color: black;
}



.terminal-window {
 width: 300px;
  height: 300px;
  margin-left: 20px;
  margin-top: 400px;
}

.terminal-upperText {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20PX;
  border-style: solid;
  border-width: 1PX;
  border-radius: 5PX;
  width: 260PX;
  height: 30px;
  border-color: rgb(255, 255, 255, 0.8);
  align-items: center;
  display: flex;
}

.terminal-operationsGrid {
  width: 260px;
  height: 210px;
  border-style: solid;
  margin-left: 20px;
  margin-top: 15px;
  border-width: 1PX;
  border-radius: 5PX;
  border-color: rgb(255, 255, 255, 0.8);
  display: grid;
  grid-template-columns: 50px 50px;
  row-gap: 0px;
  column-gap: 60px;
  align-items: center;
}



.terminal-operationDiv {
  width: 85px;
  height: 80px;
  background-color: rgb(197, 205, 223);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8);
  border-width: 1px;
  border-radius: 5px;
  margin-left: 32px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.terminal-operationText {
  color: rgb(0, 0, 0);
  margin-left: 32px;
  font-size: 30px;
}


.terminal-operationDiv:hover {
  background-color: white;
}


.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  background-color: rgb(0, 0, 0);
  margin-left: 10px;
}

.inputInnerDiv {
  display: flex;
}

.nameInput {
  width: 200px;
  height: 25px;
  background-color: white;
  border: none;
  border-radius: 2px;
  padding-left: 5px;
  font-size: 15px;
  font-weight: 600;
}


.inputButton {
  margin-top: 20px;
  padding: 5px 15px 5px 15px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.inputButton:hover {
  box-shadow: 0px 0px 10px white;
}




.infoDisplay-window {
  width: 400px;
  height: 250px;
  margin-left: 100px;
  margin-top: 20px;
}

.infoDisplay-legend {
  border-style: solid;
  border-color: rgb(255, 255, 255, 0.8);
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  height: 30px;
  display: flex;
  flex-direction:row
}

.display-number, .display-name, .display-opType {
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  height: 30px;
  border-color: white;
  white-space: nowrap;
  display: flex;
  align-items: center;
}


.display-number {
  width: 45px;
}

.display-name {
  width: 240px;
}

.display-opType {
  width: 30px;
}

.display-time {
  display: flex;
  align-items: center;
}


.infoDisplay-clientsDiv {
display: flex;
flex-direction: column;
width: 400px;
height: 210px;
margin-top: 7px;
}

.infoDisplay-clientDiv {
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  margin-top: 5px;
}

.highlighted {
  background-color: rgb(7, 163, 7);
}


.display-numberC, .display-nameC, .display-opTypeC {
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.display-numberC {
  width: 45px;
}

.display-nameC {
  width: 240px;
}

.display-opTypeC {
  width: 30px;
}

.display-timeC {
  display: flex;
  align-items: center;
}





.computers-grid {
  width: 300px;
  height: 300px;
  margin-left: 100px;
  margin-top: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.operationDesk {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  width: 125px;
  height: 100px;
  margin-left: 12px;
  margin-top: 23px;
}


.PC1, .PC2, .PC3, .PC4 {
  display: flex;
  align-items: center;
  width: 125px;
  height: 100px;
  flex-direction: column;
}

.AC {
  color: rgb(38, 220, 38);
  font-size: 14px;
}


.PC1Status, .PC2Status, .PC3Status, .PC4Status {
  margin-top: 40px;
}

.PC1Button, .PC2Button, .PC3Button, .PC4Button {
margin-top: 10px;
border-radius: 2px;
border: none;
cursor: pointer;
background-color: rgb(255, 255, 255);
}

.BAC, .BCC {
height: 25px;
background-color: rgb(176, 191, 208);
}

.BAC:hover {
background-color: white;
}
